<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Smart Pantry Manager"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.RecipeDetailActivity" />
        <activity android:name=".ui.SuggestedRecipesActivity" />
        <activity android:name=".ui.AddEditIngredientActivity" />
        <activity android:name=".ui.PantryListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
